<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spatia</title>

    <!-- Favicon ico -->
    <link rel="shortcut icon" type="image/png" href="/images/logos/spatia.png"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>    

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="leaflet/leaflet.css" />

    <!-- Leaflet Panning Plugin -->
    <link rel="stylesheet" href="css/L.Control.Pan.css" />
    <link rel="stylesheet" href="css/L.Control.Pan.ie.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script>
	
	
	
	/** test with 
	http://localhost:5000/secure_map?userfilepresent=true&userfile=http://localhost:5000/sggeo.json
	**/
	
	function getURLParameter(name) {
	  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
	}

	window.onload = function(){
		
		if(getURLParameter('userfilepresent') != null){
			var apiAddress = getURLParameter('userfile');
            var jsonData = null;
            alert("Address: "+apiAddress);
           /**
            $.getJSON(apiAddress,function(data){
              jsonData = data;
              alert(JSON.stringify(jsonData));
              });
            **/
            loadUserUploads(apiAddress);
            //MAP.loadVenuesChoroplethLayer(input,response,groupColor);
            //displayUserPoints(apiAddress);
		}
	};
	
	
	</script>
</head>

<body>
    <div id="loading" class="hide">
        <i class="fa fa-refresh fa-5x fa-spin loading-icon text-center"></i>
        <h2 class="loading-message text-center">Spinning up the hamster...</h2>
    </div>

    <div id="wrapper" class="">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="overflow-x: hidden;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id="super_link_point" class="pointlayer pointlayer_selected">
                        Point Layer(s)
                        <i class="fa fa-map-marker"></i>
                    </a>
                </li>
                <ul id="point_layer_group">
                    
                </ul>
                <li class="sidebar-brand">
                    <a href="#" id="super_link_proportional" class="proportionallayer proportionallayer_selected">
                        Proportional Layer(s)
                        <i class="fa fa-circle-o"></i>
                    </a>
                </li>
                <ul id="proportional_layer_group">
                </ul>
                <li class="sidebar-brand">
                    <a href="#" id="super_link_choropleth" class="choroplethlayer choroplethlayer_selected">
                        Chloropeth Layer(s)
                        <i class="fa fa-th"></i>
                    </a>
                </li>
                <ul id="choropleth_layer_group">
                </ul>
                <li class="sidebar-brand">
                    <a href="#" id="super_link_polyline" class="polyline polyline_selected">
                        Polyline Layer(s)
                        <i class="fa fa-arrows-alt"></i>
                    </a>
                </li>
                <li id="polyline_layer_group">
                </li>
                <li class="sidebar-brand">Base Layer</li>
                <li>
                    <a href="#" id="base_control_osm" style="width:300px;transform:translate(-25px,0px)" class="selected">
                        <i id="base_control_icon_osm" class="fa fa-openid fa-2x base_control_osm_icon_selected"></i>
                        Open Street Maps
                    </a>
                    <a href="#" id="base_control_bing">
                        <i id="base_control_icon_bing" class="base_control_bing_icon"></i>
                        Bing Maps (Satellite)
                    </a>
                    <a href="#" id="base_control_google" style="transform: translate(-20px,0px);width:300px;">
                        <i id="base_control_icon_google" class="fa fa-google fa-2x base_control_google_icon" style="transform:translate(0px,8px)"></i>
                        Google Maps
                    </a>
                </li>
				<!--
                <ul id="useruploads_layer_group">
                </ul>
                <li class="sidebar-brand">
                    <a href="#" id="super_link_useruploads" class="useruploadlayer useruploadedlayer_selected">
                        Useruploaded Layer(s)
                        <i class="fa fa-th"></i>
                    </a>
                </li>
                -->
				<a id="user-uploaded">
				</a>
				
				<li class="sidebar-brand">Upload File</li>
                <li><!--File upload test code-->
				<form method="post" enctype="multipart/form-data" action="/upload/geoJSON">
					<input type="file" name="geojson">
					Title:<br>
					<input type="text" name="title">
					<!--
					<select name="mySelect">
					  <option value="point">Point Data</option>
					  <option value="polygon">Polygon Data</option>
					</select> <br/>
					--!>
					<input type="submit">
				</form>
				</li>
				
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div id="super_container">
                        <div id="search_places_container" class="search_places">
                            <i class="fa fa-search" style="position: absolute;top: 12px;left: 10px;"></i>
                            <input type="text" id="search_amenities" class="typeahead" placeholder="Search Places categories"/>
                            <i id="search_enter_arrow" class="fa fa-arrow-right" style="position: absolute;top: 12px;right: 10px;"></i>
                            <i id="search_enter_loading" class="fa fa-spinner fa-pulse" style="visibility: hidden; position: absolute;top: 12px;right: 10px;color:rgba(64,153,255, 1);"></i>
                        </div>
                        <div id="search_venues_container" class="search_places">
                            <i class="fa fa-search" style="position: absolute;top: 12px;left: 10px;"></i>
                            <input type="text" id="search_foursquare" class="typeahead" placeholder="Search Venues categories"/>
                            <i id="search_venues_enter_arrow" class="fa fa-arrow-right" style="position: absolute;top: 12px;right: 10px;"></i>
                            <i id="search_venues_enter_loading" class="fa fa-spinner fa-pulse" style="visibility: hidden; position: absolute;top: 12px;right: 10px;color:rgba(64,153,255, 1);"></i>
                        </div>
                        <div id="search_text_container" class="search_places">
                            <i class="fa fa-search" style="position: absolute;top: 12px;left: 10px;"></i>
                            <input type="text" id="search_text" class="typeahead" placeholder="Search Singapore"/>
                            <i id="search_text_enter_arrow" class="fa fa-arrow-right" style="position: absolute;top: 12px;right: 10px;"></i>
                            <i id="search_text_enter_loading" class="fa fa-spinner fa-pulse" style="visibility: hidden; position: absolute;top: 12px;right: 10px;color:rgba(64,153,255, 1);"></i>
                        </div>
                    </div>
                    <div id="map"></div>
                    <div id="fake_map" style="visbility:hidden"></div>
                    <div id="taskbar">
                        <a id="taskbar_text_search" class="tooltips" href="#"><i id="taskbar_text_search_icon" class="fa fa-search fa-4x" style=""></i><span>Text Search (Hotkey: 1)</span></a>
                        <a id="taskbar_places_search" class="tooltips" href="#"><i id="taskbar_search_icon" class="fa fa-google fa-4x" style=""></i><span>Places Search (Hotkey: 2)</span></a>
                        <a id="taskbar_venues_search" class="tooltips" href="#"><i id="taskbar_venues_icon" class="fa fa-foursquare fa-4x" style=""></i><span>Venues Search (Hotkey: 3)</span></a>
                    </div>
                    <div id="legend"></div>
                    <div id="region_legend"></div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <div id="searchLayerLoad" class="modal">
          <div class="modal-dialog">
            <div class="modal-content background08 fontOpenSans">
              <div class="modal-header blue-dialog font700">
                <h4 class="modal-title white">Saving your Search Data</h4>
              </div>
              <div class="modal-body">
                <div id="searchLayerWarningMessage" class="alert alert-danger hide warning-dialog white" role="alert">The spreadsheet is not empty</div>
                <p>
                    Select the workbook and worksheet to append your search data to. You must enter the right worksheet name in the workbook. Take this opportunity to create a new worksheet to collect the data.
                </p>
                <span><b>Workbook to Append</b></span>
                <span id="dialogSpreadsheetsRefreshMsg" class="hide blue-twitter" style="position:absolute;right:20px">refreshing workbooks ... </span>
                <i class="fa fa-refresh pull-right spreadsheets-refresh" id="dialogSpreadsheetsRefresh"></i>
                </br>
                </br>
                <select id="searchLayerWorkbookName" name="Workbook Name" class="background05 width100p height30 lh15 pl10 pr10">
                </select>
                </br>
                </br>
                <span><b>Worksheet to Load</b></span>
                </br>
                </br>
                <input type="text" class="background05 width100p height30 pl10 pr10 height30 lh15" placeholder="Worksheet to append to" name="Worksheet Name" id="searchLayerSheetName" />
              </div>
              <div class="modal-footer ta-center">
                <button type="button" id="cancelSaveToDriveBtn" class="btn btn-default br0 bc0 width180px" data-dismiss="modal" data-toggle="modal" data-target="#searchDoneDialog">Cancel Save to Drive</button>
                <button id="saveToDriveBtn" type="button" class="btn btn-primary br0 bc0 width180px blue-dialog08">Save to Drive</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="searchDoneDialog" class="modal">
          <div class="modal-dialog">
            <div class="modal-content background08 fontOpenSans">
              <div class="modal-header blue-dialog font700">
                <h4 class="modal-title white">Search Complete!</h4>
              </div>
              <div class="modal-body">
                <p>
                    We're done searching your data. Now we're about to store your data into a spreadsheet. Would you like to store your searched data?
                </p>
              </div>
              <div class="modal-footer ta-center">
                <button type="button" class="nosaveBtn btn btn-default br0 bc0 width180px" data-dismiss="modal" data-toggle="modal" data-target="#searchDoneDialog">Do Not Save</button>
                <button type="button" class="saveBtn btn btn-primary br0 bc0 width180px blue-dialog08">Save to Drive</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="rDialog" class="modal">
          <div class="modal-dialog">
            <div class="modal-content background08 fontOpenSans">
              <div class="modal-header blue-dialog font700">
                <h4 class="modal-title white">R Console Test</h4>
              </div>
              <div class="modal-body">
                <p>
                    R data check
                </p>
              </div>
              <div class="modal-footer ta-center">
                <button type="button" class="nosaveBtn btn btn-default br0 bc0 width180px" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button id="r-trigger" type="button" class="saveBtn btn btn-primary br0 bc0 width180px blue-dialog08">R Call</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="spreadsheets-overlay" class="closed">
            <div class="icon-bar">
                <i class="fa fa-table fa-3x"></i>
            </div>
            <div class="container-fluid">
                <div class="row nil-message hide">
                    <h2>You currently do not have any files</h2>
                    <p>Start using our application to gain access to data!</p>
                </div>
                <div class="row sheets hide">
                    <div class="sheet-control col-sm-3 col-md-3 col-lg-2">
                        <h4>Data Layers</h4>
                        <i class="fa fa-refresh pull-right spreadsheets-refresh"></i>
                    </div>
                    <div class="sheet-content col-sm-9 col-md-9 col-lg-10">
                        <div class="active-sheet row">
                            <iframe></iframe>
                        </div>
                        <div class="active-taskbar row">
                            <button type="button" class="btn btn-load-data pull-right hide">Load Layers</button>
                            <button type="button" class="btn btn-unload-data pull-right hide">Unload Layers</button>
                            <button type="button" class="btn btn-refresh pull-right br0 bc0 width250px blue-dialog08">Load Spreadsheet Layers</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <!-- /#wrapper -->
    <script type="text/javascript">
        var SPREADSHEET_TRACKER = [];
    </script>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>

    <!-- Leaflet JS -->
    <script src="leaflet/leaflet.js"></script>

    <script src="js/tiles/Bing.js"></script>

    <script src="js/vendor/L.Control.Pan.js"></script>
    <script src="js/vendor/Google.js"></script>



    <!-- Typeahead -->
    <script src="js/vendor/typeahead/typeahead.jquery.min.js"></script>
    <script src="js/vendor/typeahead/typeahead.bundle.min.js"></script>
    <script src="js/vendor/typeahead/bloodhound.min.js"></script>
    <script src="js/vendor/lunr.js"></script>

    <!-- Google Dependency -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <!-- Initialization Variables -->
    <script src="js/initializers.js"></script>

    <!-- Support Scripts -->
    <script src="js/helpers.js"></script>
    <script src="js/r.js"></script>
    <script src="js/color_palette.js"></script>
    <script src="js/google_places.js"></script>
    <script src="js/foursquare_venues.js"></script>
    <script src="js/lunr.js"></script>
    <script src="js/data_aggregator.js"></script>
    <script src="js/spreadsheets_ui.js"></script>

    <!-- Map Controls Script (Must load support scripts first) -->
    <script src="js/map_controller.js"></script>
    <script src="js/sidebar_controller.js"></script>

    <!-- Menu Toggle Script -->
    <script src="js/action.js"></script>
    <script src="js/spreadsheets.js"></script>
    <script src="js/overlay.js"></script>

</body>

</html>